<div class="album-info">
    <img src="{{album.artwork}}" alt="" />
    <h1>{{album.name}}</h1>
    <h2>{{album.artist}}</h2>
</div>
<table class="album-listing">
    {{#each album.songs as |song|}}
        <tr>
            <td class="song-track">
                <span class="track-number">{{song.track}}</span>
            </td>
            <td class="song-name">
                {{song.name}}
            </td>
            <td class="song-duration">
                {{format-duration song.duration}}
            </td>
        </tr>
    {{/each}}
    <tr>
        <td class="total-duration" colspan="3">Total Time: {{format-duration album.totalDuration}}</td>
    </tr>
</table>
