<div class="album-list">
    {{#each albums as |album|}}
        <div class="album">
            {{#link-to 'album' album}}
                <img src="{{album.artwork}}" alt="">
            {{/link-to}}
            <p class="album-name">{{album.name}}</p>
            <p class="album-artist">{{album.artist}}</p>
            <p class="song-count">{{album.songCount}} songs
                {{#if album.isExplicit}}
                    <span class="explicit">EXPLICIT</span>
                {{/if}}
            </p>
        </div>
        {{else}}
            nothing here
    {{/each}}
</div>
