<div class="album-list">
{{#each albums as |album|}}
<div class="album">
    <a href="" class="ember-view"><img src="{{album.artwork}}" alt=""></a>
    <p class="album-name">{{album.name}}</p>
    <p class="album-artist">{{album.artist}}</p>
    <p class="song-count">{{album.songs.length}}</p>
</div>
{{else}}
nothing here
{{/each}}
</div>
